# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.env.development
.env.production
.env.test
.env

# python
env
.DS_Store
__pycache__

# development notes
todo.txt
